<body>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="block" style="width: 500px">

        <form id="regE" class="justify-content-center align-items-center" method="post" action="/">
            <input id="naziv" name="naziv" class="form-control rounded-pill my-2" type="text" placeholder="Naziv" required>
            <input id="slika" name="slika" class="form-control rounded-pill my-2" type="file" placeholder="Slika" required>
            <input id="datum" name="datum" class="form-control rounded-pill my-2" type="datetime-local" placeholder="Datum" required>
            <textarea id="opis" name="opis" class="form-control rounded my-2" placeholder="Opis Događaja" required></textarea>
            <button type="submit" class="btn rounded-pill custom-btn my-2">Dodaj Događaj</button>
        </form>
        </div>

    </div>
</div>
<script src="../javascripts/event_creater.js"></script>
</body>