<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Monoton&family=Staatliches&display=swap" rel="stylesheet">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- stylesheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<!-- ZARIN HEADER -->
<header>
    <nav class="navbar navbar-expand-sm navbar-light ">
        <div class="container-fluid">
            <div class="col-sm-2">
                <a href="/"><span class="title">TEZ</span></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="col-sm-8 collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/events">Događaji</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/locations">Lokacije</a>
                    </li>

                </ul>

            </div>


            <div class="col-md-2 buttons">
                <a href="/logout">
                    <button class="custom-btn">
                        Log Out
                    </button>
                </a>
            </div>
        </div>
    </nav>
</header>

<%- body %>

<footer class="container-fluid">
    <div class="row text-center">
        <div class="col">
            <a href="#"><i class="bi bi-arrow-up-circle-fill" style="font-size: 40px"></i></a>
        </div>
    </div>
    <small>&copy 2022, Emin Mulaimović, Zara Medunjanin, Tarik Ajanović</small>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>
